body {
  background-image:  href('images/top.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
p {
  color: white
}
li {
  color: white
}
a {
  color: white
}
h2 {
  color:  red
}
